html, body {
  height: 100%;
  overflow: hidden;
  background-color: azure;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.grid {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
}

.row {
  display: flex;
  flex: 1;
}

.pixel {
  display: flex;
  flex: 1;
  outline: 1px solid;
  margin-top: 1px;
  margin-left: 1px;
}

.buttonbar {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
}

label {
  font-size: 1.5vw;
}

#colorpicker {
  border-radius: 10%;
  background-color: black;
}

button {
  border-radius: 12px;
  background: white;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* slider css */

.containerofslidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.slidecontainer {
  width: 20vw;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
