html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.grid {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
}

.row {
  display: flex;
  flex: 1;
}

.pixel {
  display: flex;
  flex: 1;
  outline: 1px solid;
  margin-top: 1px;
  margin-left: 1px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

/* slider css */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}